.title {
  margin: 0;
  font-size: $title-size;
  line-height: 1.17;
  color: $color-white;
}

.subtitle {
  margin: 0;
  font-weight: 500;
  font-size: $subtitle-size;
  line-height: 1.33;
  color: $color-black;
}

.text {
  margin: 0;
  font-size: $text-size;
  color: $color-white;
  font-weight: 400;
  line-height: 1.5;

  &--gray {
    color: $color-gray;
  }

  &--centred {
    text-align: center;
  }

  &--gray-transp {
    color: $color-gray-transparent;
  }
}

.container {
  padding-top: 51px;
  padding-bottom: 105px;
}

@media ($screen-960) {
  .container {
    padding-bottom: 55px;
  }
}

@media ($screen-375) {
  .title {
    font-size: $title-mobile-size;
  }

  .subtitle {
    font-size: $subtitle-mobile-size;
  }

  .text {
    font-size: $text-mobile-size;
  }
}