@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Ubuntu";
  src: url("../fonts/UbuntuRegular.woff2") format("woff2"),
       url("../fonts/UbuntuRegular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Ubuntu";
  src: url("../fonts/UbuntuMedium.woff2") format("woff2"),
       url("../fonts/UbuntuMedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Ubuntu";
  src: url("../fonts/UbuntuBold.woff2") format("woff2"),
       url("../fonts/UbuntuBold.woff") format("woff");
}

